.CAD {color : red;}
.Rhino {color : rgb(9, 9, 9);}
.revit {color : rgb(58, 58, 239);}
body {background-color: #191919; color: #ffffff;}
#Rhino{ background-color: grey; 
    height: 200px;
    width: 200px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    display: inline-block;}
#CAD{ background-color: gray; 
    height: 200px;
    width: 200px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    display: inline-block;}
#revit{ background-color: gray; 
    height: 200px;
    width: 200px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    display: inline-block;}

#container{ background-color: none; 
    height: 500px;
    border-style: solid;
   align-items: center;
   flex-direction: row;
    }