.CAD {color : red;}
.Rhino {color : rgb(9, 9, 9);}
.revit {color : rgb(58, 58, 239);}
body {background-color: #191919; color: #ffffff;}
#Rhino{ background-color: grey; 
    height: 150px;
    width: 150px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;}
#CAD{ background-color: gray; 
    height: 150px;
    width: 150px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;}
#revit{ background-color: gray; 
    height: 150px;
    width: 150px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;}

.container{ background-color: none; 
    height: auto;
    width: auto;
    border-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: auto;}